<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="VIRTUOUS_API" value="https://api.virtuoussoftware.com" />
    <add key="VIRTUOUS_API_KEY" value="REPLACE_ME" />
    <add key="VIRTUOUS_CUSTOMER_APPLICATION_KEY" value="REPLACE_ME" />
  </appSettings>
</configuration>